@import '../vars';
@import '../mixins';

* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - $widthSite /2);
    padding-right: calc(50% - $widthSite /2);
}

body {
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
}

.header {
    background-color: $BackBlog;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__left {
        @include centerflex;
        gap: 41px;
    }

    &__right {
        @include centerflex;
        gap: 25px;
        position: relative;
    }

    .cart__number {
        position: absolute;
        border-radius: 50%;
        width: 19px;
        height: 19px;
        color: $ColorFonts;
        background-color: $ColorText;
        font-size: 12px;
        text-align: center;
        right: -10px;
        top: 5px;
    }
}

#burger {
    position: absolute;
    left: -999999px;
    visibility: hidden;

    &:checked~.nav__menu {
        display: none;
    }
}

.nav__menu {
    width: $widthBurgerMenu;
    padding: 32px;
    top: 75px;
    right: -($widthBurgerMenu + 10px);
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    position: absolute;
    box-sizing: border-box;

    &_menu {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin-bottom: 24px;
    }

    &_item {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 20px;
    }

    &_title {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $ColorText;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &_link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }

}

.header__top {
    background-color: rgba(248, 243, 244, 1);
    @include centerflex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;

    .blog_left {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $ColorText;
    }

    .breadcrumbs {
        &__ul {
            list-style-type: none;
            display: flex;
        }

        &__li:not(:last-child)::after {
            content: '/';
            padding-left: 8px;
            padding-right: 8px;
            font-style: normal;
            font-weight: 400px;
            font-size: 14px;
            line-height: 17px;
            color: #636363;
        }

        &__li:last-child .breadcrumbs__link {
            color: $ColorText;
            font-weight: 700px;
        }

        &__link {
            font-style: normal;
            font-weight: 400px;
            font-size: 14px;
            line-height: 17px;
            color: #636363;
        }
    }
}

.slider__blog {
    background-color: rgba(248, 248, 248, 1);
    @include centerflex;
    justify-content: space-between;

    .slider__blog__img {
        padding-top: 11px;
        padding-bottom: 42px;
    }
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.main__blog {
    @include centerflex;
    flex-direction: column;
    padding: 65px 292px 65px 292px;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 1px 4px 35px rgb(235, 235, 235);

    margin-top: -45px;




    .title_top {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $ColorText;
    }

    .svg_top {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .title_botom {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
    }

    .text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #5E5E5E;
        padding-top: 48px;
        padding-bottom: 32px;
    }

    .svg_botom {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    .price {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $ColorText;
    }

    .details_blog {
        display: flex;
        gap: 23px;

        .sort__heading {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
        }
    }

    .sort__summary {
        @include centerflex;
        gap: 9px;
    }

    .btn_details {
        display: flex;
        align-items: center;
        gap: 23px;
        padding-right: 57px;
        padding-left: 24px;
        padding-top: 15px;
        padding-bottom: 9px;
        background-color: $ColorFonts;
        border: 1px solid $ColorText;
        margin-top: 48px;

        .btn_details span {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $ColorText;
        }
    }

    .btn_details:hover {
        box-shadow: 1px 4px 35px rgb(148, 145, 145);
    }
}


.product_box_content {
    display: flex;
    padding-top: 128px;
    padding-bottom: 128px;

    .product {

        background-color: rgba(248, 248, 248, 1);

        .product_img {
            position: relative;
            overflow: hidden;
        }

        .cart-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity 0.3s ease;
            width: 139px;
            height: 44px;
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: center;
            align-items: center;
            border: 2px solid $ColorFonts;
        }

        .cart-icon p {
            color: $ColorFonts;
        }

        .product_content {
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: flex-start;
            padding: 24px 16px;

            .product_title {
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 16px;
                color: $BackBlog;
            }

            .product_text {
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                color: rgba(93, 93, 93, 1);
                ;
            }

            .product_price {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: $ColorText;
            }
        }
    }
}

.product_img:hover {
    filter: brightness(0.7);
}

.product_img:hover .cart-icon {
    opacity: 1;
    /* Показать иконку корзины при наведении */
}

.product_title:hover {
    font-weight: bold;
    text-decoration: underline;
}

.footer {
    .footer_top {
        background-color: $BackBlog;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        padding-top: 104px;
        padding-bottom: 104px;
        margin-top: 95px;

        .footer_block {
            text-align: center;

            .footer_title {
                color: white;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                padding: 28px 16px;
            }

            .footer_text {
                color: white;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
            }
        }

        .footer_title:hover {
            text-decoration: underline;
        }
    }

    .footer_center {
        max-width: 1600px;
        height: 438px;
        margin: 0 auto;
        background-image: url(/image/footer_center_img.jpg);
        background-repeat: no-repeat;

        &_block {
            @include centerflex;
            flex-direction: row;
            justify-content: space-around;
            gap: 224px;

        }

        &_foto {
            text-align: center;
            width: 360px;
            margin-top: 97px;
            margin-bottom: 126px;

            .footer_center_foto img {
                margin-bottom: 20px;

            }

            .footer_center_p {
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
            }
        }

        .footer_input {

            @include centerflex;
            flex-direction: column;


            &_title {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 167%;
            }

            &_text {
                font-style: normal;
                font-size: 18px;
                margin-bottom: 30px;
            }

            .footer_form {
                display: flex;
                justify-content: center;
                width: 356px;
                text-align: center;

                .input_email {
                    width: 70%;
                    height: 49px;
                    border-radius: 20px 0 0 20px;
                    border: $ColorFonts;
                    background-color: $ColorFonts;
                    ;
                    padding-left: 20px;
                }

                .footer_btn {
                    width: 30%;
                    height: 49px;
                    border-radius: 0 20px 20px 0;
                    border: $ColorText;
                    background-color: $ColorText;
                    color: $ColorFonts;
                }

                .footer_btn:hover {
                    box-shadow: 1px 4px 20px rgb(156, 155, 155);
                }
            }
        }
    }

    .footer_botom {
        background-color: black;
        display: flex;
        justify-content: space-between;
        height: 79px;
        align-items: center;

        &_text {
            color: white;
        }

        .footer_botom_img:hover {
            transform: scale(2);
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .nav__menu {
        right: 0;
    }
}